<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment1">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment1"
        android:name=".Assignment1ApplicationClass">

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Game_Page_Subjective"
            android:exported="true" />
        <activity
            android:name=".Game_Page_Polar"
            android:exported="true" />
        <activity
            android:name=".Settings"
            android:exported="true" />
        <activity
            android:name=".Leaderboard"
            android:exported="true" />
        <activity
            android:name=".Achievement"
            android:exported="true" />
        <activity
            android:name=".Friends_Page"
            android:exported="true" />
        <activity
            android:name=".Forgot_Password2"
            android:exported="true" />
        <activity
            android:name=".Game_Page_MCQ"
            android:exported="true" />
        <activity
            android:name=".Game_Page3"
            android:exported="true" />
        <activity
            android:name=".Game_Page2"
            android:exported="true" />
        <activity
            android:name=".Home_Page"
            android:exported="true" />
        <activity
            android:name=".Forgot_Password"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Main_Page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>